@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: black;
}
ul{
  list-style-type: none;
  background-color: #333;
  display: flex;
  align-items: center;
}

li a {
  display: flex;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 7em;
}

li a:hover {
  color: #16F3E8;
}
#logo{
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
#logo:hover{
  opacity: 0.8;
}
#site-purpose-title{
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
  color: azure;

}
#site-purpose-paragraph{
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
  color: azure;
}
#domain{
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
  color: azure;
}
#domain-paragraph{
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
  color: azure;
}

@media only screen and (max-width: 600px) {
  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  li a {
    display: flex;
    color: white;
    padding: 14px 16px;
    margin-left: 100px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  
}

@media only screen and (max-width: 1060px) {
  li a{
    margin-left: 1.1em;
  }
}


