@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #0C120C;
}
#logo:hover{
    opacity: 0.8;
  }
ul{
  list-style-type: none;
  background-color:  #5c5b5f;
  display: flex;
  align-items: center;
}

li a {
  display: flex;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 7em;
}

li a:hover {
  color:#16F3E8;
}
#logo{
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
#site-purpose-title{
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
  color: azure;

}
#site-purpose-paragraph{
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
  color: azure;
}

@media only screen and (max-width: 600px) {
  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  li a {
    display: flex;
    color: white;
    padding: 14px 16px;
    margin-left: 100px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  
}

@media only screen and (max-width: 1060px) {
  li a{
    margin-left: 1.1em;
  }
}
#target-audience-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: azure;
}
#target-audience-paragraph{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: azure;
    margin-right: 20%;
    margin-left: 20%;
}
#wrapper{
    text-align: center;
    margin-top: 40px;
}
h2{
    color: azure;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-size: 25px;
    color: azure;
    font-family: 'Quicksand', sans-serif;
}
p{
    font-size: 15px;
    color: azure;
    font-family: 'Quicksand', sans-serif;
}

footer{
    color: rgb(255, 251, 254);
    text-align: center;
    position: relative;
    top: 200px;
  }
  #footer_paragraph{
    position: relative;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #copyright_paragraph{
    position: relative;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .rectangle{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
.rectangle2{
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
#footer-link{
    color: white;
}
#footer-link:hover{
    color:#16F3E8;
}