@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
#title-gallery{
    color: aliceblue;
    font-family: Quicksand;
    margin-left: 20px;
}
#gallery-7-link a
{
  color: rgb(102, 0, 235);
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #0C120C;
    overflow-x: hidden;
    position: relative;
  }

  #menu-icon{
    display: none;
  }
  ul{
    list-style-type: none;
    background-color: rgba(17, 173, 235, 0.972);
    border-radius: 15px;
    display: flex;
    align-items: center;
  }
  
  li a {
    display: flex;
    position: relative;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
    margin-left: 2em;
  }
  
  li a:hover {
    color: #16F3E8;
  }
  #logo{
    height: auto;
    width: auto;
    padding-left: 10px;
    max-height: 72px;
    max-width: 250px;
  }
  #logo:hover{
    opacity: 0.8;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  
  #gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 100px;
    grid-row-gap: 200px;
  }

  #logo{
    height: auto;
    width: auto;
    padding-left: 10px;
    max-height: 72px;
    max-width: 250px;
  }

  #title-box{
    display: inline-flex;
  }
  #title-text{
    color: azure;
    padding-left: 20px;
    font-weight: 400;
    font-size: 27px;
  }
  #title-text-thin{
    color: #C11F77;
    font-weight: 100;
    padding-left: 7px;
    font-size: 27px;
  }
  .gallery-images {
    box-shadow: 5px 5px 0px 5px rgba(100, 100, 100, 0.1);
    border-radius: 20px;
    max-width: 100%;
    max-height: auto;
  }
  .gallery-paragraph{
      color: white;
  }
  @media only screen and (max-width: 750px) {
    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .icons{
        width:50px;
      }
      #menu-icon{
        display: none;
      }
      .summary{
        padding: 0px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 10px;
        top: 0px;
      }
    #gallery{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
      grid-gap: 5px;
      grid-row-gap: 200px;
    }
    li a {
        display: flex;
        color: white;
        padding: 14px 16px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
      }
      #menu-icon{
        display: none;
      }
    .gallery-images{
        max-width: 100%;
        max-height: auto;
        box-shadow: none;
    }
    
    footer{
      color: rgb(255, 251, 254);
      text-align: center;
      position: relative;
      top: 200px;
    }
    #footer_paragraph{
      position: relative;
      top: 100px;
      font-family: Arial, Helvetica, sans-serif;
    }
    #copyright_paragraph{
      position: relative;
      top: 100px;
      font-family: Arial, Helvetica, sans-serif;
    }
    rect{
      width: 100%;
      height: 200px;
      fill: #5c5b5f;
    }
    .rectangle{
      width: 100%;
      height: 150px;
      border-radius: 20px;
    }
    .rectangle2{
    width: 100%;
    max-width: 1200px;
    height: 100px;
    border-radius: 10px;
    }
}
  
  @media (max-width: 400px) {
    #gallery{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-items: center;
      grid-gap: 5px;
      grid-row-gap: 100px;

    }
    #navbar{
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      #menu-icon{
        color: aliceblue;
        background-color: #333;
        display: flex;
        align-items: center;
        
      }
      .container {
        background-color: #333;
        text-align: center;
      }
      .gallery-images{
        box-shadow: none;
      }
  }