body{
    background-color: black;
    justify-content: center;
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer{
    color: rgb(255, 251, 254);
    text-align: center;
    position: relative;
    top: 200px;
  }
  #footer_paragraph{
    position: relative;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #copyright_paragraph{
    position: relative;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  a:link {
    color: rgb(17, 63, 85);
  }
  a:visited{
    color: rgb(132, 16, 221)
  }
  a:hover{
    color: rgb(245, 245, 245)
  }
  .rectangle2{
    width: 100%;
    height: 100px;
    border-radius: 10px;
  }
.rectangle{
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  h3{
    grid-column: span 1 / 3;
    grid-row: 1;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 500;
    position: relative;
    bottom: 150px;
  }
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: aliceblue;
  margin-top: 150px;
}
#visual_hierarchy_head {
  grid-column: 1;
  text-align: center;
}
h2 {
  grid-column: span 1 / 3;
  grid-row: 1;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: 800;
  position: relative;
  bottom: 200px;
}
#fitts_law_head {
  grid-column: 3;
  text-align: center;
}
#white_space_head {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  margin-top: 150px;
}
img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 0;
  transition: transform 0.5s;
}
img:hover {
  transform: scale(1.02);
  -webkit-filter: blur(1px);
}
#Squarespace {
  grid-row: 2;
  grid-column: 2;
}
#Sanvello {
  grid-row: 2;
  grid-column: 3;
}

#apple {
  grid-row: 2;
  grid-column: 1;
}
p {
  text-align: center;
  grid-row: 3;
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}
#squarespace-paragraph {
  text-align: center;
  grid-row: 3;
}
p{
    margin-top: 20px;
}

@media (max-width:768px) and (min-width:400px){
    body{
        background-color: black;
        justify-content: center;
    }
    
    #wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr
    }

    h1 {
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
    }
    #visual_hierarchy_head {
      grid-row: 3;
      grid-column: 1;
    }
    h2 {
        grid-row: 1;
        grid-column: span 1/3;
        text-align: center;
        color: black;
        font-size: 30px;
        font-family: Helvetica;
        margin-bottom: 100px;
        font-weight: 500;
    }
    h3{
        grid-column: span 1 / 3;
        grid-row: 1;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Helvetica;
        font-weight: 500;
        position: relative;
        bottom: 225px;
      }
    #fitts_law_head {
      grid-row: 3;
      grid-column: 2;
    }
    #white_space_head {
      grid-row: 6;
      grid-column: 1;
    }
    #Squarespace {
      grid-row: 7;
      grid-column: 1;
    }
    #Sanvello {
      grid-row: 4;
      grid-column: 2;
    }
  
    #apple {
      grid-row: 4;
      grid-column: 1;
    }
    #squarespace-paragraph {
      grid-row: 8;
      grid-column: 1;
    }
    #sanvello-paragraph {
      grid-row: 5;
      grid-column: 2;
    }
    #apple-paragraph {
      grid-row: 5;
      grid-column: 1;
    }
  }
  @media only screen and (max-width: 400px) {
    body{
        background-color: black;
        justify-content: center;
    }

    h3{
        grid-column: span 1 / 3;
        grid-row: 1;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Helvetica;
        font-weight: 500;
        position: relative;
        bottom: 225px;
      }
    
    #wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    h1 {
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
    }
    #visual_hierarchy_head {
      grid-row: 7;
      grid-column: 1;
      font-size: 15px;
    }
    h2 {
      grid-column: 1;
      grid-row: 1;
      /* color: rgb(204, 164, 61); */
      color: black;
      font-size:15px;
      font-family: Helvetica;
      margin-bottom: 100px;
      font-weight: 500;
    }
    #fitts_law_head {
      grid-row: 4;
      grid-column: 1;
      font-size: 15px;
    }
    #white_space_head {
      grid-row: 1;
      grid-column: 1;
      font-size: 15px;
    }
    #Squarespace {
      grid-row: 2;
      grid-column: 1;
    }
    #Sanvello {
      grid-row: 5;
      grid-column: 1;
    }
    #apple {
      grid-row: 8;
      grid-column: 1;
    }
    #squarespace-paragraph {
      grid-row: 3;
    }
    #sanvello-paragraph {
      grid-row: 6;
    }
    #apple-paragraph {
      text-align: center;
      grid-row: 9;
    }
  }
  
