@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #0C120C;
}
#preston-box{
display: flex;
flex-direction: column;
color: black;
width: 100%;
height: auto;
}
#contentbox{
  background-color: lightblue;
  margin-top: 10px;
  padding: 20px;
}
#forecast{
  background-color: lightblue;
  margin-top: 10px;
  padding: 20px;
}
#article{
  background-color: lightblue;
  margin-top: 10px;
  padding: 20px;
}
#contact{
  background-color: lightblue;
  margin-top: 10px;
  padding: 20px;
}
ul{
  list-style-type: none;
  background-color: #5c5b5f;
  display: flex;
  align-items: center;
}

li a {
  display: flex;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  margin-left: 2em;
}

li a:hover {
  color: #16F3E8;
}
#logo{
  height: auto;
  width: auto;
  padding-left: 10px;
  max-height: 72px;
  max-width: 250px;
}
#logo:hover{
  opacity: 0.8;
}

@media only screen and (max-width: 750px) {
  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #menu-icon{
    display: none;
  }

  
  li a {
    display: flex;
    color: white;
    padding: 14px 16px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  
}

@media only screen and (min-width: 650px) {
  
  li a{
    display: flex;
  }
  #menu-icon{
    display: none;
  }
}

footer{
  color: rgb(255, 251, 254);
  text-align: center;
  position: relative;
  top: 200px;
}
#footer_paragraph{
  position: relative;
  top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
#copyright_paragraph{
  position: relative;
  top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.rectangle{
  width: 100%;
  height: 150px;
  border-radius: 20px;
}
.rectangle2{
width: 100%;
max-width: 1200px;
height: 100px;
border-radius: 10px;
}

#footer-link{
  color: white;
}
#footer-link:hover{
  color:#16F3E8;
}
#title-box{
  display: inline-flex;
}
#title-text{
  color: azure;
  padding-left: 20px;
  font-weight: 400;
  font-size: 27px;
}
#title-text-thin{
  color: #C11F77;
  font-weight: 100;
  padding-left: 7px;
  font-size: 27px;
}

@media only screen and (max-width: 450px) {
  #navbar{
    display: block;
  }

  #title-text{
    color: azure;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
  }
  #title-text-thin{
    color: #C11F77;
    font-weight: 100;
    padding-left: 7px;
    font-size: 20px;
    padding-top: 20px;
  }

  /* Style the navigation menu */
.container {
  background-color: #333;
  text-align: center;
}


/* Style the hamburger menu */
#navbar{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#menu-icon{
  color: aliceblue;
  background-color: #333;
  display: flex;
  align-items: center;
  
}

}
